
:root { 
  --white: #fffffe; 
  --black: #300f16; 
  --primary: #dc0a2d; 
  --green:#5baa67;
  --red :#f4647d ;
  --yellow-light:#feef8d;
  --secondary: #163355; 
  --blue: #4ca3d9;
  --body1: 400 0.75rem/1.5rem Roboto; 
  --body3: 400 0.5rem/0.4556451737880707rem Roboto; 
  --body2-regular: 400 0.75rem/1.375rem Space Mono;  
}

body {
  color: var(--white);
  background-color: var(--blue);
  font: var(--body1);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokedex{background-color: var(--primary);
  width: 746px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-info {
  width: 50%;
  padding: 15px 20px 20px 20px;
  border-right: 1px solid black ;
}

.pokedex-cam{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.pokedex-cam-circle-blue {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--blue);
  border: 3px solid white;
  margin-right: 15px;
}

.pokedex-cam-circle-red{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--red);  
  margin-right: 8px;
}

.pokedex-cam-circle-yellow{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--yellow-light);  
  margin-right: 8px;
}

.pokedex-cam-circle-green{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--green);  
  margin-right: 8px;
}

.pokedex-screen{
  background: white;
  width: 100%;
  height: 215px;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.pokedex-screen-pokemon {
  background: #8db9dc;
  height: 150px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
 
.pokedex-screen-pokemon-img{
  height: 150px;
}

.pokedex-screen-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pokedex-screen-redpoint1{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary);  
}

.pokedex-screen-redpoint2{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--primary);  
  margin-left: 10px;
}

.pokedex-screen-lines{
  display: inline-grid;
  position: absolute;
  transform: translateX(126px);
  margin: 0;
  padding:0;
}

.pokedex-screen-lines-line{
  width: 24px;
  height: 3px;
  background: var(--secondary);
  display: inline-block;
  margin: 1px;
  padding: 0;
}

.pokedex-buttons{    
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.pokedex-buttons-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--secondary);  
  margin-right: 40px;
  box-shadow: 2px 2px black;
  
}

.container-info{
display: flex;
align-items: flex-start;
justify-content: space-between;
}

.pokedex-buttons-yellow{
  width: 26px;
  height: 7px;
  border-radius: 4px;
  background: #fdcb2f;
  margin-right: 25px;
}

.pokedex-buttons-darkblue{
  width: 26px;
  height: 7px;
  border-radius: 4px;
  background: var(--secondary);
}

.pokedex-pokemon-name{
  height: 40px;
  width: 220px;
  background-color: var(--white);
  margin-top: 25px;
  border-radius: 10px;
  color: black;
  align-items: center;
  display: flex;
  font-size: medium;
  font-weight: bold;
  padding-left: 6px;
}

.pokedex-pokemon-description{
  height: 110px;
  width: 220px;
  background-color: var(--green);
  margin-top: 20px;
  border-radius: 10px;
  color: black;
  font-size: medium;
  font-weight: bold;
  padding-left: 6px;
}

.pokedex-select-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex-select-button-up{
  width: 28px;
  height: 30px;
  background-color: var(--secondary);
}

.pokedex-select-button-left{  
  width: 28px;
  height: 30px;
  background-color: var(--secondary);
}

.pokedex-select-button-midle{
  width: 28px;
  height: 30px;
  background-color: var(--secondary);
}

.pokedex-select-button-right{
  width: 28px;
  height: 30px;
  background-color: var(--secondary);
}

.pokedex-select-button-down{
  width: 28px;
  height: 30px;
  background-color: var(--secondary);
}

.pokedex-stats{
  width: 50%;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 20px 20px;
}

.pokedex-stats-info{
  background-color: #163355;
  padding: 15px 20px 20px 20px;
  border-radius: 15px;
}

.pokedex-stats-info p {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
  }